<!DOCTYPE html>
<html>
<head>
<title>hiii</title>
</head>
<body>
    <form action="/sendMessage" method="post">
        <div>
            <label>Enter Num:</label>
            <input type="text" id="number" name="number"/>
        </div>
        <div>
            <label>Enter Msg:</label>
            <input type="text" id="message" name="message"/>
        </div>
        <input type="submit" value="Send Message"/>
    </form>

</body>
</html>
